.header {
  padding: 26px 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 30px;
  }

  &__logo {
    display: block;
  }

  &__search {
    justify-self: center;
  }

  &__nav {
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 330px;
    width: 100%;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }


}
