.search {
  width: 100%;
  max-width: 818px;
  height: 50px;
  position: relative;

  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid #CDCDCD;
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 24px;
    padding-right: 54px;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 26px;
    border: 0;
    background-color: transparent;
    line-height: 0;
  }

}
