.goods-item {
  min-height: 450px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }

  &__buy {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding-right: 40px;
    align-items: center;
  }

  &__price {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  &_to-cart {
    background-color: transparent;
    border: 1px solid $color-primary;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
