.catalog {
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 10px;
  }

  &__container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 72px 30px;
  }

  &__pagination {
    grid-column: 2 span;
  }
}
