.address {
  @include desktop {
    max-width: 700px;
  }

  @include laptop {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 30px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__form {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include tablet {
      gap: 10px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__label-select {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 43px;
      top: 50%;
      transform: translateY(calc(-50% - 2px)) rotate(45deg);
      display: block;
      width: 10px;
      height: 10px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent $color-primary $color-primary transparent;
    }
  }


  &__item {
    width: 100%;
    height: 50px;
    color: $color-grey;
    padding: 10px;

    @include tablet {
      font-size: 12px;
      line-height: 15px;
    }

    &_select {
      appearance: none;
    }

    &_btn {
      background-color: $color-primary;
      color: $color-secondary;
      border: 0;
    }
  }

  &__label-save {
    display: flex;
    align-items: center;
    gap: 8px;
    grid-column: -2;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-grey;
  }


}
