.cart {
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-between;
    gap: 70px 30px;

    @include desktop {
      grid-template-columns: minmax(59%, 848px) minmax(34%, 494px);
      column-gap: 20px;
    }

    @include laptop {
      grid-template-columns: 1fr;
      row-gap: 50px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;

    @include mobile {
      font-size: 30px;
      line-height: 37px;
    }
  }


  &__total {
    padding-top: 94px;

    @include laptop {
      padding-top: 0;
      order: 1;
    }
  }

}
