.cart-goods {
  &__title {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__item {
    max-width: 990px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}
